@font-face {
  font-family: 'Gotham Pro';
  src: url('./gotham-pro/gothamPro-boldItalic.eot');
  src: local('Gotham Pro Bold Italic'), local('./gotham-pro/gothamPro-boldItalic'),
    url('./gotham-pro/gothamPro-boldItalic.eot?#iefix') format('embedded-opentype'),
    url('./gotham-pro/gothamPro-boldItalic.woff') format('woff'),
    url('./gotham-pro/gothamPro-boldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./gotham-pro/gothamPro-italic.eot');
  src: local('Gotham Pro Italic'), local('./gotham-pro/gothamPro-italic'),
    url('./gotham-pro/gothamPro-italic.eot?#iefix') format('embedded-opentype'),
    url('./gotham-pro/gothamPro-italic.woff') format('woff'),
    url('./gotham-pro/gothamPro-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./gotham-pro/gothamPro-medium.eot');
  src: local('Gotham Pro Medium'), local('./gotham-pro/gothamPro-medium'),
    url('./gotham-pro/gothamPro-medium.eot?#iefix') format('embedded-opentype'),
    url('./gotham-pro/gothamPro-medium.woff') format('woff'),
    url('./gotham-pro/gothamPro-medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;

  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./gotham-pro/gothamPro-blackItalic.eot');
  src: local('Gotham Pro Black Italic'), local('./gotham-pro/gothamPro-blackItalic'),
    url('./gotham-pro/gothamPro-blackItalic.eot?#iefix') format('embedded-opentype'),
    url('./gotham-pro/gothamPro-blackItalic.woff') format('woff'),
    url('./gotham-pro/gothamPro-blackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./gotham-pro/gothamPro-bold.eot');
  src: local('Gotham Pro Bold'), local('./gotham-pro/gothamPro-bold'),
    url('./gotham-pro/gothamPro-bold.eot?#iefix') format('embedded-opentype'),
    url('./gotham-pro/gothamPro-bold.woff') format('woff'),
    url('./gotham-pro/gothamPro-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./gotham-pro/gothamPro-lightItalic.eot');
  src: local('Gotham Pro Light Italic'), local('./gotham-pro/gothamPro-lightItalic'),
    url('./gotham-pro/gothamPro-lightItalic.eot?#iefix') format('embedded-opentype'),
    url('./gotham-pro/gothamPro-lightItalic.woff') format('woff'),
    url('./gotham-pro/gothamPro-lightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./gotham-pro/gothamPro-light.eot');
  src: local('Gotham Pro Light'), local('./gotham-pro/gothamPro-light'),
    url('./gotham-pro/gothamPro-light.eot?#iefix') format('embedded-opentype'),
    url('./gotham-pro/gothamPro-light.woff') format('woff'),
    url('./gotham-pro/gothamPro-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./gotham-pro/gothamPro-black.eot');
  src: local('Gotham Pro Black'), local('./gotham-pro/gothamPro-black'),
    url('./gotham-pro/gothamPro-black.eot?#iefix') format('embedded-opentype'),
    url('./gotham-pro/gothamPro-black.woff') format('woff'),
    url('./gotham-pro/gothamPro-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./gotham-pro/gothamPro-mediumItalic.eot');
  src: local('Gotham Pro Medium Italic'), local('./gotham-pro/gothamPro-mediumItalic'),
    url('./gotham-pro/gothamPro-mediumItalic.eot?#iefix') format('embedded-opentype'),
    url('./gotham-pro/gothamPro-mediumItalic.woff') format('woff'),
    url('./gotham-pro/gothamPro-mediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./gotham-pro/gothamPro.eot');
  src: local('Gotham Pro'), local('./gotham-pro/gothamPro'),
    url('./gotham-pro/gothamPro.eot?#iefix') format('embedded-opentype'),
    url('./gotham-pro/gothamPro.woff') format('woff'),
    url('./gotham-pro/gothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}