.form {
  min-width: 350px;
  margin-bottom: 20px;
}

.wrapInput {
  margin-bottom: 20px;
}

.label {
  font-size: 1.6rem;
}

.successMessage {
  margin: 0 0 20px;
  font-size: 1.8rem;
  color: var(--color-eucalyptus);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
}

.name,
.value {
  font-size: 1.6rem;
}

.name {
  color: var(--color-mine-shaft);
}

.value {
  color: var(--color-dusty-gray);
}