.wrap {
    padding: 15px
}

.wrapForm {
    margin-bottom: 20px;
}

.wrapSpin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.emptyText {
    text-align: center;
}