.wrap {
    margin-bottom: 20px;
}

.wrapRating {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.reviewsAmount {
    line-height: 2;
}

.wrapBooking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.wrapBooking {
    text-align: right;
}

.price {
    font-size: 22px;
    font-weight: var(--weight-bold);
}

.pricePerNight {
    font-size: 12px ;
    color: var(--color-dusty-gray)
}