.wrap {
  text-align: center;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.item {
  display: block;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
  text-decoration: underline;

  &.active {
    color: var(--color-curious-blue);
    text-decoration: none;
  }
}

.wrapButton {
  width: calc(100% - 20px);
  margin: 20px auto 0;
}